{% extends "base.html" %}

{% block content %}
<div class='section-style section-first pt-5 pb-5'>
    <div class='container-fluid pt-5 pb-5'>
        <h1 class = 'pt-2 pb-2'>{{ contributions.title }}</h1>
        <div class="row">
            <div class="col-md-8">
                <h5>About the contribution:</h5>
                <p>{{ contributions.description }}</p>
                <br>
                <h5>contribution link:</h5>
                <a class ='link' href = {{ contributions.link}} target = '_blank' class = "btn btn-primary">Find it here</a>
            </div>
            <div class="col-md-4">
                {% if contributions.image %}
                    <img src="{{ contributions.image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
