{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id='home' class="section pt-5 pb-5">
    <!-- home content here -->
    <div class='container' style="padding-top: 70px;">
        <h3>Michael Gonzalez</h3>
        <h5>Front-end and back-end developer</h5>
    </div>
</div>

<div id="about" class="section pt-5 pb-5">
    <div class='container' >
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="about-me">
                    <p class="card-text">
                        Hello there! My name is Michael Gonzalez and I am a developer that loves
                        to explore my creativity and hobbies through tech.
                    </p>
                    <div class = "row">
                        <div class = "col-md-2">
                            <p class ="title-1">Say hi!</p>
                        </div>
                        <div class = "col-md-2">
                            <div class = "link-item">
                                <a href={{email}} target=" _blank">Email</a>
                            </div>
                        </div>
                        <div class = "col-md-2">
                            <div class = "link-item">
                                <a href = {{LinkedIn_url}} target =" _blank">Linked in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="section pb-5 pt-5">
    <div class="container">
        <!-- Projects content here -->
        <h3 class = "card-title">Projects</h3>
        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class = "card mb-3">
                    <a href = "{% url 'project_detail' pk=project.id %}" class="card-link text-decoration-none">
                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{project.title}}">
                        <div class = "card-body">
                            <h5 class = "card-title">{{project.title}}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="contributions" class="section pt-5 pb-5">
    <!-- Contact content here -->
    <div class="container">
        <div class="row">
            <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                    <div id="title-box-2 pt-5 pt-md-0">
                        <h3 class="title-left">Contact Me</h3>
                    </div>
                    <div id='more-info'>
                        <p class='lead'>Please feel free to contact me below</p>
                        <p>Email: {{email}}</p>
                        <p>Location: {{location}}</p>
                    </div>
                    <div class="socials">
                        <ul>
                            <p>
                                <a href={{ LinkedIn_url }} target="_blank"><img src="{% static '/pages/images/linked_in.jpg' %}" 
                                    alt="LinkedIn Profile" width = "30" height= "30"></a>
                            </p>
                            <p>
                                <a href={{ resume_url }} target="_blank"><img src="{% static 'pages/images/CV.jpg' %}"
                                    alt='Resume' width = '30' height='30'></a>
                        </ul>

                </div>
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}
