{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id='home' class="section pt-5 pb-5">
    <!-- home content here -->
    <div class='container'>
        <h3>Hello there!</h3>
    </div>
</div>

<div id="about" class="section pt-5 pb-5">
    <div class='container'>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="about-me">
                    <h3 class="card-title">About Me</h3>
                    <p>
                        <span class="title-s">Name:</span>
                        <span>Michael Gonzalez</span>
                    </p>
                    <p>
                        <span class="title-s">Email:</span>
                        <span>gnzz.michael@gmail.com</span>
                    <p>
                        <span class="title-s">Education:</span>
                        <span>Bachelor of Arts in Political Science from UC Irvine</span>
                    </p>
                    <p class="card-text">
                        Hello there! My name is Michael Gonzalez and I am a developer that loves
                        to explore my creativity and hobbies through tech.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projects" class="section pb-5 pt-5">
    <div class="container">
        <!-- Projects content here -->
        <div class="row mt-4">
            <div class="col-md-12">
                <div class= "projects">
                    <h3 class = "card-title">Projects</h3>
                    <div class="row">
                        {% for project in projects %}
                        <div class="card mb-3 d-flex align-items-stretch">
                            <a href = "{% url 'project_detail' pk=project.id %}" class="card-link text-decoration-none">
                                <div class= "row g-0">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ project.title }}</h5>
                                            <p class="card-text">{{ project.description }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="{{ project.image.url }}" class="card-img-top" alt="{{project.title}}">
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact" class="section pt-5 pb-5">
    <!-- Contact content here -->
    <div class="container">
        <div class="row">
            <div class="contact-mf">
                <div id="contact" class="box-shadow-full">
                    <div id="title-box-2 pt-5 pt-md-0">
                        <h3 class="title-left">Contact Me</h3>
                    </div>
                    <div id='more-info'>
                        <p class='lead'>Please feel free to contact me below</p>
                        <p>Email: {{email}}</p>
                        <p>Location: {{location}}</p>
                    </div>
                    <div class="socials">
                        <ul>
                            <p>
                                <a href={{ LinkedIn_url }} target="_blank"><img src="{% static '/pages/images/linked_in.jpg' %}" 
                                    alt="LinkedIn Profile" width = "30" height= "30"></a>
                            </p>
                            <p>
                                <a href={{ resume_url }} target="_blank"><img src="{% static 'pages/images/CV.jpg' %}"
                                    alt='Resume' width = '30' height='30'></a>
                        </ul>

                </div>
            </div>
        </div>
    </div>

    </div>
</div>
{% endblock %}
