
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Michael Gonzalez{% endblock %}</title>
    <!-- Include bootstrap CSS-->
    <link rel='stylesheet' href="{% static 'pages/css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand me-auto" href="/"> Michael Gonzalez </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                </ul>
                <ul class ="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href= {{resume_url}} target = "_blank">Resume</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Smooth scrolling for navbar links
            $('a.nav-link').click(function(event) {
                var target = $(this.hash);
                if (target.length) {
                    event.preventDefault(); // Prevent default link behavior
        
                    // Check if the current page is the home page
                    var currentPage = window.location.pathname;
                    if (currentPage !== '/home/') {
                        // Redirect to the home page with hash fragment
                        window.location.href = '/#' + target.attr('id');
                    } else {
                        // Smooth scrolling to the target section
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 100); // Adjust the duration as needed
                    }
                }
            });
        });
    </script>
</body>
</html>
