
body {
    font-family: 'Arial', sans-serif;
    background-image: url('pages/static/images/background_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color: #333
}

.btn{
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #f8eded;
    color:#fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn.hover{
    background-color: #f8eded;
}